[Desktop Entry]
MimeType=application/x-tar;application/x-compressed-tar;application/x-bzip-compressed-tar;application/x-tarz;application/x-xz-compressed-tar;application/x-lzma-compressed-tar;application/x-lzip-compressed-tar;application/x-tzo;application/x-lrzip-compressed-tar;application/x-lz4-compressed-tar;application/vnd.debian.binary-package;application/x-deb;application/x-cd-image;application/x-bcpio;application/x-cpio;application/x-cpio-compressed;application/x-sv4cpio;application/x-sv4crc;application/x-rpm;application/x-source-rpm;application/vnd.ms-cab-compressed;application/x-xar;application/x-iso9660-appimage;application/x-archive;application/vnd.rar;application/x-rar;application/x-7z-compressed;application/zip;application/x-java-archive;application/x-compress;application/gzip;application/x-bzip;application/x-lzma;application/x-xz;
GenericName=Archiving Tool
GenericName[ru]=Архиватор
Name=Archiving Tool Ark
Name[ru]=Архиватор Ark
Exec=ark %U
Icon=ark
X-DocPath=ark/index.html
Type=Application
Terminal=false
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.ark
Categories=Qt;KDE;Utility;Archiving;Compression;X-KDE-Utilities-File;
InitialPreference=3
Comment=Work with file archives
Comment[ast]=Trabaya con archivos
Comment[ca]=Treball amb arxius de fitxer
Comment[ca@valencia]=Treball amb arxius de fitxer
Comment[cs]=Práce s archivy souborů
Comment[da]=Arbejd med filarkiver
Comment[de]=Arbeiten mit Dateiarchiven
Comment[el]=Εργασία με αρχειοθήκες
Comment[en_GB]=Work with file archives
Comment[es]=Trabajar con archivos comprimidos
Comment[et]=Arhiivifailide käitlemine
Comment[eu]=Fitxategien artxiboekin lan egiteko
Comment[fi]=Käsittele tiedostoarkistoja
Comment[fr]=Travailler avec des archives
Comment[gl]=Traballa con arquivos de ficheiros
Comment[he]=עבוד עם קבצי ארכיונים
Comment[ia]=Trvalia con le archivos de file
Comment[is]=Vinna með safnskrár
Comment[it]=Lavora con gli archivi di file
Comment[ko]=압축 파일로 작업하기
Comment[lt]=Darbas su archyvais
Comment[nl]=Mert bestandsarchieven werken
Comment[nn]=Arbeid med filarkiv
Comment[pl]=Pracuj z archiwami plików
Comment[pt]=Lidar com pacotes em ficheiros
Comment[pt_BR]=Manipulação de arquivos compactados
Comment[ru]=Работа с архивами файлов
Comment[sk]=Práca s archívmi súborov
Comment[sl]=Delajte z datotečnimi arhivi
Comment[sr]=Рад са фајловима архива
Comment[sr@ijekavian]=Рад са фајловима архива
Comment[sr@ijekavianlatin]=Rad sa fajlovima arhiva
Comment[sr@latin]=Rad sa fajlovima arhiva
Comment[sv]=Arbeta med filarkiv
Comment[tr]=Arşiv dosyaları ile çalış
Comment[uk]=Робота з файловими архівами
Comment[x-test]=xxWork with file archivesxx
Comment[zh_CN]=处理归档文件
Comment[zh_TW]=檔案壓縮工具
