[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Рабочий стол/plank-master.zip]
row=5
col=0

[/home/user/Рабочий стол/config.zip]
row=4
col=0

[/home/user/Рабочий стол/plank-master]
row=6
col=0

[2019-05-13-13-58-35-65]
row=0
col=0

[Корзина]
row=1
col=0

[/]
row=2
col=0

[/home/user]
row=3
col=0

