[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Рабочий стол/Снимок экрана_2019-08-05_12-43-41.png]
row=0
col=2

[/home/user/Рабочий стол/plank-master.zip]
row=1
col=1

[/home/user/Рабочий стол/Windows-10-3.0.zip]
row=3
col=1

[/home/user/Рабочий стол/plank-master]
row=0
col=1

[/home/user/Рабочий стол/Configuration]
row=4
col=0

[/home/user/Рабочий стол/Снимок экрана_2019-08-05_12-52-44 (1-я копия).png]
row=0
col=4

[/home/user/Рабочий стол/Configuration.zip]
row=2
col=1

[/home/user/Рабочий стол/Снимок экрана_2019-08-05_12-52-44.png]
row=1
col=2

[/home/user/Рабочий стол/Windows-10-3.0]
row=4
col=1

[2019-05-13-13-58-35-65]
row=0
col=0

[/home/user]
row=3
col=0

[/]
row=2
col=0

[Корзина]
row=1
col=0

